  <ion-nav-bar class="bar-downloads" >

    <ion-nav-title style="padding-top: 5px;">
        <a href="#/tab/dash"><img src="img/topo-downloads.png" width="100%" height="100%"></a>    
    </ion-nav-title>

  </ion-nav-bar>

<ion-view>

  <ion-content class="padding" style='background-image: url("img/fundotexto.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>
 
  <br><Br><Br>
    <section class="module">
 
  <section class="wraper">    
    <figure class='small'>
      <a href="#/tab/account/conheca">
        <img src="img/download1.png" alt="" width="150px">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="">
           
        </a>
      </figcaption>
    </figure>
    <figure class='small'>
      <a href="#/tab/account/conheca">
        <img src="img/download2.png" alt="">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="">
           
        </a>
      </figcaption>
    </figure>
  <figure class='small'>
      <a href="#/tab/account/conheca">
        <img src="img/download3.png" alt="">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="">
           
        </a>
      </figcaption>
    </figure>
     <figure class='small'>
      <a href="#/tab/account/conheca">
        <img src="img/download4.png" alt="">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="">
           
        </a>
      </figcaption>
    </figure>
     

        
  </section>
</section>
 


  </ion-content>
</ion-view>
