<ion-view>

<div class="bar bar-header" style='background-image: url("img/fundo-conheca.png"); background-size: 100% 120%;'> 
  
</div>
  <ion-content class="padding" style='background-image: url("img/fundotexto.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>

      <h4>Filiação</h4>

      A CTB está atualizando o seu cadastro de entidades associadas para um melhor acompanhamento e agilidade de comunicação. Abaixo  você encontra a nossa ficha de cadastro para atualização ou filiação de novos sindicatos, que deve ser preenchida e enviada para a Secretaria Geral da CTB Nacional no endereço especificado.<Br>
      <Br>
      Também é  importante  filiar seu sindicato e  manter os dados atualizados no Cadastro Nacional de Entidades Sindicais do Ministério do Trabalho e Emprego.  <Br>    
      <Br>
      Contamos com o seu empenho!<Br>
      <Br>
      Secretaria Geral – CTB Nacional<Br>
      <br><Br>
      <hr size="1">
      <h4>Acesse os arquivos abaixo e saiba como se filiar à CTB</h4>
      <hr size="1">
      <a onclick="window.open('http://www.portalctb.org.br/site/images/Arquivos/filiacao/ficha_filiacao_atualizacao_cadastral_ctb.xls', '_system', 'location=yes')"class="button button-full button-assertive">
        Ficha de atualização cadastral à CTB - Arquivo no formato xls (Excell)
      </a>

       <a onclick="window.open('http://www.portalctb.org.br/site/images/Arquivos/filiacao/ficha_filiacao_atualizacao_cadastral_ctb.xls', '_system', 'location=yes')" class="button button-full button-assertive">
        Ficha de filiação à CTB - Arquivo no formato xls (Excell)   
      </a>

      <a onclick="window.open('http://www.portalctb.org.br/site/images/Arquivos/filiacao/manual_do_processo_de_filiacao_a_ctb.pps', '_system', 'location=yes')" class="button button-full button-assertive">
        Manual procedimentos para filiação à CTB - Arquivo no formato pps (Power Point)
      </a>
  </ion-content>
</ion-view>
