  <ion-nav-bar class="bar-conheca" >

    <ion-nav-title style="padding-top: 5px;">
        <a href="#/tab/dash"><img src="img/topo-conheca.png" width="100%" height="100%"></a>
    </ion-nav-title>

  </ion-nav-bar>

<ion-view>

  <ion-content class="padding" style='background-image: url("img/fundotexto.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>
      
       <p align="jurtify" class="texto"><br><br><br>
        <b>Princípios e objetivos da CTB</b><br>
        <br>
        A história reservou ao trabalho um papel central no de-senvolvimento da civilização e do próprio ser humano no seu esforço criador e produtivo. O trabalho é a fonte do valor gerado na economia, a origem da riqueza social. Nas sociedades assentadas na divisão de classes, que emergiram com o surgimento e difusão da propriedade privada, a forçade trabalho tem sido submetida a uma impiedosa exploração pelas classes dominantes. Assim foi no escravismo, fundado na opressão e exploração do escravo; ou no feudalismo, baseado na apropriação do trabalho servil dos camponeses pelos senhores feudais.<br>
        <br>
        Na moderna sociedade capitalista, a exploração da classe trabalhadora ficou mais sofisticada e também atingiu seu auge. Em nenhum outro período da história humana se trabalhou tanto e tão intensamente. Na época da primeira revolução industrial, iniciada em meados do século XVIII na Inglaterra, a jornada de trabalho chegava a mais de 16 horas diárias. O proletariado brasileiro também ingressou no século XX labutando 16 horas de domingo a domingo, sem descanso semanal remunerado e a troco de salários miseráveis.<br>
            <br>
      </p>
  </ion-content>
</ion-view>
