  <ion-nav-bar class="bar-estaduais" >

    <ion-nav-title style="padding-top: 5px;">
        <a href="#/tab/dash"><img src="img/topo-estaduais.png" width="100%" height="100%"></a>    
    </ion-nav-title>

  </ion-nav-bar>

<ion-view>

  <ion-content class="padding" style='background-image: url("img/fundotexto.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>
      
       <p align="jurtify" class="texto"><br><br>

      <ion-list  option-buttons="itemButtons">

       <div class="list">          

          <a class="item  item-divider" href="#/menu/tab/item">            
            <Br><font color="#000000"> Tocantins </font><Br><Br>
          </a>

          <a class="item  item-divider" href="#/menu/tab/item">            
            <Br><font color="#000000"> Bahia </font><Br><Br>
          </a>

          <a class="item  item-divider" href="#/menu/tab/item">            
            <Br><font color="#000000"> Sergipe </font><Br><Br>
          </a>

          <a class="item  item-divider" href="#/menu/tab/item">            
            <Br><font color="#000000"> Ceará </font><Br><Br>
          </a>

          <a class="item  item-divider" href="#/menu/tab/item">            
            <Br><font color="#000000"> Rio Grande do Sul </font><Br><Br>
          </a>

          <a class="item  item-divider" href="#/menu/tab/item">            
            <Br><font color="#000000"> Rio Grande do Norte </font><Br><Br>
          </a>

          <a class="item  item-divider" href="#/menu/tab/item">            
            <Br><font color="#000000"> Mato Grosso do Sul </font><Br><Br>
          </a>

          <a class="item  item-divider" href="#/menu/tab/item">            
            <Br><font color="#000000"> Mato Grosso </font><Br><Br>
        </div>         

        </ion-list>
        
      </p>
  </ion-content>
</ion-view>
