  <ion-nav-bar class="bar-secretarias" >

    <ion-nav-title style="padding-top: 5px;">
        <a href="#/tab/dash"><img src="img/topo-secretarias.png" width="100%" height="100%"></a>    
    </ion-nav-title>

  </ion-nav-bar>

<ion-view>

  <ion-content class="padding" style='background-image: url("img/fundotexto.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>
      
       <p align="jurtify" class="texto"><br><br>

      <ion-list  option-buttons="itemButtons">

       <div class="list">          

          <a class="item  item-divider2" href="#/menu/tab/item">            
            <Br><font color="#000000"> Formação e Cultura </font><Br><Br>
          </a>

          <a class="item  item-divider2" href="#/menu/tab/item">            
            <Br><font color="#000000"> Igualdade Racial </font><Br><Br>
          </a>

          <a class="item  item-divider2" href="#/menu/tab/item">            
            <Br><font color="#000000"> Impressa e Comunicação </font><Br><Br>
          </a>

          <a class="item  item-divider2" href="#/menu/tab/item">            
            <Br><font color="#000000"> Juventude Trabalhadora </font><Br><Br>
          </a>

          <a class="item  item-divider2" href="#/menu/tab/item">            
            <Br><font color="#000000"> Mulher Trabalhadora </font><Br><Br>
          </a>

          <a class="item  item-divider2" href="#/menu/tab/item">            
            <Br><font color="#000000"> Política Agrícola e Agrária </font><Br><Br>
          </a>

          <a class="item  item-divider2" href="#/menu/tab/item">            
            <Br><font color="#000000"> Secretaria Geral </font><Br><Br>
          </a>
 
        </div>         

        </ion-list>
        
      </p>
  </ion-content>
</ion-view>
