<ion-view title="">
      <ion-content >
        
                
          <div class="card" style="margin-top:-40px">
      <div class="item item-text-wrap">
        <center>
        <b>Central dos Trabalhadores e Trabalhadoras do Brasil</b><Br>
        Avenida Liberdade, 113, 4º andar<Br>
        Liberdade - São Paulo/SP - Brasil - CEP: 01503000<Br>
        Fone: +55 (11) 3106-0700<Br>
        </center>
        <hr>
 <form method="post" ng-submit="submit(contactform, formData)" name="contactform" role="form">
  

        <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="" ng-model="formData.nome">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Telefone</span>
        <input type="number" placeholder="" ng-model="formData.telefone">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="" ng-model="formData.email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Cidade</span>
        <input type="text" placeholder="" ng-model="formData.cidade">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Mensagem</span>
       <textarea ng-model="formData.mensagem"></textarea>
      </label>

      <button class="button button-block button-positive">
        Enviar
      </button>
    </form>
    </div>
    </div>
      
        <br>

      </ion-content>
    </ion-view>