<ion-view>

<div class="bar bar-header" style='background-image: url("img/fundo-conheca.png"); background-size: 100% 120%;'> 
  <h4 style="color:#ffffff; margin-left: 80px;">Direção</h4>
</div>
  <ion-content class="padding" style='background-image: url("img/fundotexto.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>
    Presidência<Br>
Adilson Araújo<Br>
Bancário<Br>
BA<Br>
<hr>
Vice-presidência<Br>
Nivaldo Santana<Br>
Urbanitário<Br>
SP<Br><hr>
Vice-presidência<Br>
Maria Lúcia Moura<Br>
Rural<Br>
SE<Br><hr>
Vice-presidência<Br>
Joilson Antônio Cardoso<Br>
Professor<Br>
RJ<Br><hr>
Vice-presidência<Br>
Severino Almeida<Br>
Marítimo<Br>
RJ<Br><hr>
Vice-presidência<Br>
Vicente Selistre<Br>
Sapateiro<Br>
RS<Br><hr>
Secretaria geral<Br>
Wagner Gomes<Br>
Metroviário<Br>
SP<Br><hr>
Secretaria geral adjunta<Br>
Kátia Gaivoto<Br>
Professora<Br>
RJ<Br><hr>
Secretaria de finanças<Br>
Vilson Luiz da Silva<Br>
Trabalhador Rural<Br>
MG<Br><hr>
Secretaria de finanças adjunta<Br>
Gilda Almeida de Souza<Br>
Farmacêutica<Br>
SP<Br><hr>
Secretaria. De formação e cultura<Br>
Celina Alves Arêas<Br>
Professora<Br>
MG<Br><hr>
Secretaria de políticas sociais, esporte e lazer<Br>
Carlos Rogério Nunes<Br>
Assistente Social<Br>
CE<Br><hr>
Secretaria de política sindical e relações institucionais<Br>
Francisco Chagas<Br>
Funcionário Público<Br>
DF<Br><hr>
Secretaria de previdência, aposentados e pensionistas<Br>
Pascoal Carneiro<Br>
Metalúrgico<Br>
BA<Br><hr>
Secretaria de relações internacionais<Br>
José Divanilton Pereira<Br>
Petroleiro<Br>
RN<Br><hr>
Secretaria de relações internacionais adjunta<Br>
José Adilson  Pereira<Br>
Portuário<Br>
ES<Br><hr>
Secretaria de imprensa e comunicação<Br>
Raimunda Gomes<Br>
Professora<Br>
AM<Br><hr>
Secretaria de mulheres<Br>
Ivânia Pereira<Br>
Bancária<Br>
SE<Br><hr>
Secretaria de políticas para a juventude trabalhadora<Br>
Vítor Espinoza<Br>
Comerciário<Br>
RS<Br><hr>
Secretaria de políticas de promoção de igualdade racial<Br>
Mônica Custódio<Br>
Metalúrgica<Br>
RJ<Br><hr>
Secretaria de defesa de meio ambiente<Br>
Antoninho Rovaris<Br>
Rural<Br>
SC<Br><hr>
Secretaria adjunta de meio ambiente<Br>
Claudemir Nonato Santos<Br>
Professor<Br>
BA<Br><hr>
Secretaria de saúde dos trabalhadores e trabalhadoras e segurança no trabalho<Br>
Elgiane de Fátima Lago<Br>
Professora<Br>
ES<Br><hr>

Secretaria de política agrícola e agrária<Br>
Sérgio  de Miranda<Br>
Trabalhador Rural<Br>
RS<Br><hr>
Secretaria do serviço público e do trabalhadores públicos<Br>
João Paulo Ribeiro<Br>
Servidor Público<Br>
SP<Br><hr>
Secretaria adjunta do serviço publico e do trabalhadores públicos<Br>
José Gonçalves<Br>
Servidor Público<Br>
PB<Br><hr>
Direção executiva<Br>
Eduardo Navarro<Br>
Bancário<Br>
BA<Br><hr>
Direção executiva<Br>
Hildinete Rocha<Br>
Professora<Br>
MA<Br><hr>
Direção executiva<Br>
Raimundo Brito<Br>
Construção Civil<Br>
BA<Br><hr>
Direção executiva<Br>
Mário Teixeira<Br>
Portuário<Br>
PR<Br><hr>
Direção executiva<Br>
Marilene Betros<Br>
Professora<Br>
BA<Br><hr>
Direção executiva<Br>
Ricardo Ponzi<Br>
Marítimo<Br>
RJ<Br><hr>
Direção executiva<Br>
João Batista Lemos<Br>
Metalúrgico<Br>
RJ<Br>
Direção executiva<Br>
Guiomar Vidor<Br>
Comerciário<Br>
RS<Br><hr>
Direção executiva<Br>
Luís Penteado<Br>
Marítimo<Br>
RJ<Br><hr>
Direção executiva<Br>
Lucileide Mafra<Br>
Doméstica<Br>
PA<Br><hr>
Direção executiva<Br>
Onofre de Jesus<Br>
Metroviário<Br>
SP<Br><hr>
Direção executiva<Br>
Marcelino Rocha<Br>
Metalúrgico<Br>
MG<Br><hr>
Direção executiva<Br>
Ronaldo Leite<Br>
Correios<Br>
RJ<Br><hr>
Direção executiva<Br>
 Aurino Pedreira do Nascimento Filho<Br>
Metalúrgico<Br>
BA<Br><hr>
Direção executiva<Br>
Josiel Galvão de Souza<Br>
Metalúrgico<Br>
PE<Br><hr>
Direção executiva<Br>
Maria do Socorro N.  Barbosa<Br>
Rural<Br>
MA<Br><hr>
Direção executiva<Br>
Valéria  Conceição da Silva<Br>
Professora<Br>
PE<Br><hr>
Direção executiva<Br>
Maria  Marucha S.Vettorazzi<Br>
Rural<Br>
PR<Br><hr>
Direção executiva<Br>
Reginaldo Oliveira<Br>
Comerciário<Br>
BA<Br><hr>
Diretoria executiva<Br>
Juraci Moreira Souto<Br>
Rural<Br>
MG<Br><hr>
Direção plena<Br>
Aldemir de Carvalho Caetano<Br>
Petroleiro<Br>
AM<Br><hr>
Direção plena<Br>
 Ailma Maria de Oliveira<Br>
Professora<Br>
GO<Br><hr>
Direção plena <Br>
Lenir  Pibneto Fanton<Br>
Rural<Br>
RS<Br><hr>
Direção plena <Br>
Assis Melo<Br>
Metalúrgico<Br>
RS<Br><hr>
Direção plena<Br>
Ronald Ferreira dos Santos<Br>
Farmacêutico<Br>
SC<Br><hr>
Direção plena<Br>
Fredson da Mata<Br>
Professor<Br>
AP<Br><hr>
Direção plena <Br>
Edson de Paula Lima<Br>
Professor<Br>
MG<Br><hr>
Direção plena <Br>
Edval Goes<Br>
Funcionário Público<Br>
SE<Br><hr>
Direção plena<Br>
Ademir Muller<Br>
Rural<Br>
PR<Br><hr>
Direção plena <Br>
James Figueiredo<Br>
Policial Civil<Br>
AM<Br><hr>
Direção plena <Br>
Gilson Reis<Br>
Professor<Br>
MG<Br><hr>
Direção plena<Br>
Paulo Vinicius<Br>
Bancário<Br>
DF<Br><hr>
Direção plena<Br>
Francisco de Assis<Br>
Urbanitário<Br>
PA<Br><hr>
Direção plena<Br>
Nara Teixeira de Souza<Br>
Professora<Br>
MT<Br><hr>
Direção plena <Br>
Jonas Rodrigues de Paula<Br>
Professor<Br>
ES<Br><hr>
Direção plena<Br>
Lucia   Maia<Br>
Construção Civil<Br>
BA<Br><hr>
Direção plena<Br>
José Marcos Araújo<Br>
Bancário<Br>
PA<Br><hr>
Direção plena<Br>
Júlio Guterres<Br>
Professor<Br>
MA<Br><hr>
Direção plena<Br>
Pedro Mário<Br>
Rural<Br>
MG<Br><hr>
Direção plena<Br>
Luís Cláudio de Santana<Br>
Servidor Civil das Forças Armadas<Br>
RJ<Br><hr>
Direção plena<Br>
Elias David<Br>
Rural<Br>
SP<Br><hr>
Direção plena<Br>
Maria Clotilde Lemos Petta<Br>
Professora<Br>
SP<Br><hr>
Direção plena<Br>
Maria da Glória Borges da Silva<Br>
Rural<Br>
MT<Br><hr>
Direção plena<Br>
Maurício Ramos<Br>
Metalúrgico<Br>
RJ<Br><hr>
Direção plena<Br>
Leandro Clodoveu Velho<Br>
Metalúrgico<Br>
RS<Br><hr>
Direção plena<Br>
Ricardo Martins Froes<Br>
Professor<Br>
MS<Br><hr>
Direção plena<Br>
Elgiane Fátima Lago<Br>
Rural<Br>
RS<Br><hr>
Direção plena<Br>
Risonilson  de Freitas Barros<Br>
Taxista<Br>
AP<Br><hr>
Direção plena<Br>
Sueli Moraes da Silva Cardoso<Br>
Servidor Público Municipal<Br>
RR<Br><hr>
Direção plena<Br>
Andreia Diniz<Br>
Metalúrgica<Br>
MG<Br><hr>
Direção plena<Br>
Ivanir Perrone<Br>
Comerciária<Br>
RS<Br><hr>
Direção plena<Br>
Paulo Sérgio da Silva<Br>
Condutor<Br>
SP<Br><hr>
Direção plena<Br>
Flávio Godoy<Br>
Metroviário<Br>
SP<Br><hr>
Direção plena<Br>
Madalena Guasco<Br>
Professora<Br>
SP<Br><hr>
Direção plena<Br>
Rogerlan Augusta de Morais<Br>
Técnico Administrativo<Br>
MG<Br><hr>
Direção plena<Br>
Isis Tavares Neves<Br>
Professora<Br>
AM<Br><hr>
Direção plena<Br>
Hilário Gottselig<Br>
Trabalhador Rural<Br>
SC<Br><hr>
Direção plena<Br>
Luciano Simplício<Br>
Previdenciário<Br>
CE<Br><hr>
Direção plena<Br>
Agenor Neto<Br>
Papeleiro<Br>
PR<Br><hr>
Direção plena<Br>
José Aguinaldo<Br>
Alimentação<Br>
PR<Br><hr>
Direção plena<Br>
Augusto Vasconcelos<Br>
Bancário<Br>
BA<Br><hr>
Direção plena<Br>
Shirley Ferreira dos Santos<Br>
Rural<Br>
SE<Br><hr>
Direção plena<Br>
David W.  De Souza<Br>
Rural<Br>
BA<Br><hr>
Direção plena<Br>
Igor Menezes<Br>
Rodoviário<Br>
RJ<Br><hr>
Direção plena<Br>
José Rodrigues da Silva<Br>
Rural<Br>
PE<Br><hr>
Direção plena<Br>
Cláudia Bueno<Br>
Municipário<Br>
SP<Br><hr>
Direção plena<Br>
Mário Ferrari<Br>
Médico<Br>
PR<Br><hr>
Direção plena<Br>
Fernando Furtado<Br>
Pescador<Br>
MA<Br><hr>
Direção plena<Br>
Valdirlei Castagna<Br>
Auxiliar de Enfermagem<Br>
RS<Br><hr>
Direção plena<Br>
Alex da Silva Cardoso<Br>
Movimentador de Mercadoria<Br>
SP<Br><hr>
Direção plena<Br>
Elton Arruda<Br>
Professor<Br>
PI<Br><hr>
Conselho fiscal - titular<Br>
Ivane<Br>
Rural<Br>
BA<Br><hr>
Conselho fiscal - titular<Br>
JadirsonTadeu Paranatinga<Br>
Servidor Público Municipal<Br>
SP<Br><hr>
Conselho fiscal - titular<Br>
Sandra Regina de Oliveira<Br>
Metalúrgica<Br>
BA<Br><hr>
Conselho fiscal - suplente<Br>
Osmar da Silva<Br>
Fluviário<Br>
SP<Br><hr>
Conselho fiscal - suplente<Br>
Adriana<Br>
Rural<Br>
RJ<Br><hr>

<Br><Br><Br><Br>
  </ion-content>
</ion-view>
