<ion-view>

<div class="bar bar-header" style='background-image: url("img/fundo-conheca.png"); background-size: 100% 120%;'> 
  
</div>
  <ion-content class="padding" style='background-image: url("img/fundotexto.jpg"); width:100%; height: 100%;  background-size: 100% 100%;'>
     
        <h3>Plano de lutas</h3>
        <Br>
        1 - PLENO EMPREGO<Br>
 <Br>
a) Impulsionar, junto com as outras centrais sindicais, a campanha nacional pela redução constitucional da jornada de trabalho sem redução de salários;<Br>
 
b) Exigir a restrição das horas extras e a supressão do banco de horas;<Br>

c) Defender um Sistema Público de Emprego integrado e eficiente, financiado com os recursos do FAT e outras fontes;<Br>

d) Ratificação da Convenção 158 da OIT, que proíbe a demissão imotivada;<Br>

e) Regulamentação do dispositivo consagrado no Artigo 7º da Constituição que preconiza a “proteção em face da automação”;<Br>

f) Elaboração de propostas e iniciativas visando aumentar a geração de empregos de qualidade para mulheres,negros e jovens, segmentos da classe trabalhadora discriminados no mercado de trabalho e que mais sofrem com o desemprego;<Br>

g) Trabalhar pela elevação significativa do grau de escolaridade da classe trabalhadora destacando parte da jornada remunerada de trabalho para a educação.<Br>
<Br>
2 - MELHORES SALÁRIOS<Br>
a) Ampliar a mobilização por maiores salários e pela valorização do salário mínimo;<Br>
b) Realizar campanhas salariais unificadas com as demais centrais, unindo categorias e entidades; combater a remuneração variável e defender o aumento do salário fixo;<Br>
c) Lutar pela revogação de parte do parágrafo 2º do artigo 114 da Emenda 45, de 2004, que inviabiliza o ajuizamento de dissídio coletivo ao exigir acordo prévio entre trabalhadores e empregadores, retirando-se do dispositivo a expressão “de comum acordo”.<Br>
<Br>

3 - FORTALECER A ORGANIZAÇÃO SINDICAL<Br>
a) Reconhecimento legal do comitê sindical de base, com estabilidade para seus membros;<Br>
b) Estabelecimento de regras democráticas para os pleitos e as gestões sindicais, bem como de critérios de representatividade;<Br>
c) Estimular campanhas de sindicalização, inclusive específicas voltadas para jovens e mulheres;<Br>
d) Garantir a unicidade sindical.<Br>
<Br>

4 - AMPLIAR E UNIVERSALIZAR OS DIREITOS TRABALHISTAS E PREVIDENCIÁRIOS<Br>
a) Lutar pela regulamentação do mercado de trabalho,combater com rigor a terceirização e todas as formas de flexibilização e/ou precarização das relações entre capital e trabalho;<Br>
b) Lutar pela erradicação do trabalho escravo e do trabalho de crianças e menores adolescentes;<Br>
c) Rejeitar todo e qualquer tipo de retrocesso nas regras da Previdência Social, defender a Previdência Pública, a universalização dos benefícios e o fim do fator previdenciário;<Br>
d) Estabelecer o Contrato Coletivo Nacional de Trabalho;<Br>
e) Garantir o direito irrestrito de greve, coibir as práticas anti-sindicais;<Br>
f) Defender a valorização dos aposentados e pensionistas (públicos e privados);<Br>
g) Defender a saúde do trabalhador e da trabalhadora e a efetiva segurança no trabalho;<Br>
h) Combater com vigor todo tipo de discriminação, seja de gênero, raça, etnia, idade ou orientação sexual, especialmente no ambiente de trabalho, exigindo igualdade de salários (para funções equivalentes) e melhores condições de trabalho. Fortalecer o 2º Congresso de Negros e Negras do Brasil, convocado para março de 2008. Garantir os direitos dos portadores de necessidades especiais.<Br>
<Br>

5 - PROMOVER A REFORMA AGRÁRIA EFETIVA<Br>
a) Lutar pela efetivação da reforma agrária, redefinindo os critérios de produtividade, limitando o tamanho das propriedades e expropriando o latifúndio;<Br>
b) Por um novo modelo de desenvolvimento rural, com ênfase na agricultura familiar.<Br>
<Br>

6 - UNIVERSALIZAR AS POLÍTICAS PÚBLICAS<Br>
a) Fortalecer e qualificar o Sistema Único de Saúde(SUS);<Br>
b) Priorizar a luta pela educação pública, gratuita, de qualidade e laica para todos e todas. Estabelecer a regulamentação das escolas privadas. Batalhar por creches públicas e escolas de tempo integral, bem como pela valorização dos profissionais de educação;<Br>
c) Lutar pela reforma urbana, com ênfase no enfrenta-mento do déficit habitacional e construção de moradias populares;<Br>
d) Defender modelo de meio ambiente baseado no desenvolvimento sustentável, com punição rigorosa dos crimes contra a natureza;<Br>
e) Defender novas contratações no setor público; a valorização do servidor; a realização de concursos públicos; a ratificação da Convenção 151 (que garante aos servidores o direito à negociação coletiva); a instituição de mesas de negociação permanente em todos os Estados e municípios; a denúncia e o combate sem trégua à terceirização; o cumprimento da Emenda Constitucional 51 e da Lei11.350, que garante a efetivação dos agentes comunitários de saúde e agentes comunitários de saúde e de combate às endemias; o pagamento de salários decentes;<Br>
f) Lutar pela inclusão digital dos trabalhadores e trabalhadoras do campo e das cidades.<Br>
<Br>

7 - AMPLIAR A DEMOCRACIA<Br>
a) Combater a monopolização da mídia capitalista e participar da luta pela democratização dos meios de comunicação, defesa da TV pública e das rádios comunitárias;<Br>
b) Apoiar a luta por uma reforma política democrática,sem cláusulas de barreira, com financiamento público das campanhas, fidelidade partidária e liberdade de coligações;<Br>
c) Defender uma reforma tributária progressiva, na qual as famílias mais ricas devem contribuir mais, o trabalho e os empreendimentos produtivos devem ser desonerados, enquanto as grandes fortunas e a especulação devem ser fortemente taxadas;<Br>
d) Construir, junto com a Coordenação dos Movimentos Sociais (CMS) e outras centrais uma plataforma unificada da classe trabalhadora para o pleito de outubro deste ano.<Br>
<Br>

8 - UNIFICAR A LUTA COM O MOVIMENTO SOCIAL<Br>
a) Fortalecer a Coordenação dos Movimentos Sociais (CMS);<Br>
b) Organizar, de forma ampla, a classe trabalhadora, incluindo empregados, desempregados, subempregados, in-formais, aposentados e pensionistas estabelecendo relações mais estreitas com as diversas entidades populares;<Br>
c) A CTB proporá às demais centrais e ao conjunto do movimento sindical a elaboração de um Projeto de Lei no Congresso Nacional com o objetivo de regulamentar o artigo 8º da Constituição Federal no que se refere ao estabelecimento da quantidade de dirigentes sindicais com estabilidade que cada entidade deve ter em função de sua representatividade e do número de trabalhadores na base. O objetivo é combater a arbitrária e tendenciosa “regulamentação” baixada pelo Tribunal Superior do Trabalho (TST), que estabelece o número de apenas 7(sete) dirigentes estáveis por entidade sindical.<Br>
<Br>

9 - MUDANÇAS NA POLÍTICA ECONÔMICA<Br>
a) Reduzir substancialmente as taxas de juros;<Br>
b) Acabar com a política de arrocho fiscal, utilizando os recursos esterilizados no superávit primário para ampliação dos investimentos públicos na infra-estrutura produtiva e social, bem como em ciência, pesquisa e tecnologia;<Br>
c) Estabelecer o controle do Estado sobre o câmbio e o fluxo de capitais; restringir e taxar fortemente as remessas de lucros, dividendos e juros; renegociar a dívida interna; suspender o pagamento da dívida externa e utilizar os recursos poupados em investimentos na educação pública; combater a autonomia formal ou informal do Banco Central;<Br>
d) Acabar com as restrições impostas pela Lei de Responsabilidade Fiscal aos gastos e investimentos públicos;<Br>
e) Defender a integração política e econômica solidária da América Latina, fortalecer o Mercosul e as parcerias estratégicas com países como a China, Índia, Rússia e África do Sul, entre outros.<Br>
<Br>

10 - PELA PAZ MUNDIAL<Br>
a) Lutar contra o imperialismo, defender a paz mundial,a solidariedade a Cuba, à revolução bolivariana da Venezuela, ao governo de Evo Morales, na Bolívia, aos povos do Iraque, da Palestina e a todos os povos e nações que são vítimas da opressão imperialista. Pela saída das tropas brasileiras do Haiti.<Br>
<Br>

11 - PROJETO DE DESENVOLVIMENTO NACIONAL E SOCIALISMO
a) Esta plataforma é parte da luta por um projeto nacional de desenvolvimento com soberania e valorização do trabalho, igualdade de gênero, raça, etnia, sustentabilidade ambiental, orientado por uma perspectiva socialista.
  </ion-content>
</ion-view>
