<ion-view>

<div class="bar bar-header" style='background-image: url("img/fundo-conheca.png"); background-size: 100% 120%;'> 
  
</div>
  <ion-content class="padding" style='background-image: url("img/fundotexto.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>
     <h4 >Conheça a CTB</h4>
       <div class="list"> 
        <a href="#/tab/account/principios" class="item  item-icon-right" href="#">
          Princípios e Objetivos
          <i class="icon ion-arrow-right-c"></i>
        </a>

        <a href="#/tab/account/plano" class="item  item-icon-right" href="#">
          Plano de Lutas
          <i class="icon ion-arrow-right-c"></i>
        </a>

        <a href="#/tab/account/filiacao" class="item  item-icon-right" href="#">
          Filiação
          <i class="icon ion-arrow-right-c"></i>
        </a>

        <a href="#/tab/account/direcao" class="item  item-icon-right" href="#">
          Direção CTB
          <i class="icon ion-arrow-right-c"></i>
        </a>
    </div>


  </ion-content>
</ion-view>
