  <ion-nav-bar class="bar-downloads" >

    <ion-nav-title style="padding-top: 5px;">
        <a href="#/tab/dash"><img src="img/topo-downloads.png" width="100%" height="100%"></a>    
    </ion-nav-title>

  </ion-nav-bar>

<ion-view>

  <ion-content class="padding" style='background-image: url("img/fundotexto.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'>
      
       <p align="jurtify" class="texto"><br><br><br>
        <b>DOWNLOADS</b><br>
        
      </p>
  </ion-content>
</ion-view>
