 

<ion-view>
<div class="bar bar-header" style='background-image: url("img/fundo-conheca.png"); background-size: 100% 120%;'>  
</div>

  <ion-content class="padding" style='background-image: url("img/fundotexto.jpg"); width:100%; height: 100%; text-align:center; background-size: 100% 100%;'> 
    <h4>SECRETARIAS</h4>


<div class="list"> 
 
        <a   ng-repeat="secretaria in secretarias" 
         href="#/tab/account/secretarias/{{secretaria.id}}"  class="item  item-text-wrap item-icon-right">
          {{secretaria.strNome}}
          <i class="icon ion-arrow-right-c"></i>
        </a>
 
    </div>


  </ion-content>
</ion-view>
