

<ion-view view-title="" >

<ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                  CATEGORIAS
                </button>
            </ion-nav-buttons>
  <ion-content >
 
       <div class="row unlimited-items">  

          <div class="col" ng-repeat="noticia in noticias2" style="width:{{noticia.tamanho}}; height:{{noticia.altura}};">
            <a href="#/tab/dash/vernoticia/{{noticia.id}}*{{noticia.strNome}}*{{noticia.catId}}*{{noticia.conteudo}}*{{noticia.imagemvis}}">
              <img ng-src="http://portalctb.org.br/site/{{noticia.imagem}}" width="100%" height="100%">
            </a> 
            <div style="padding: 5px; background-color: #DAA520; position: absolute; margin-top: -28%; width: 120px; font-weight: none;"> <b>{{noticia.catId}}</b> </div>
            <div class="fundodegrade"> 
              <p style="padding: 5px; width:{{noticia.tamanho}}; line-height:15px;">
                <font color="#fffff" size="{{noticia.fonte}}">{{noticia.strNome}}</font> 
              </p>
            </div>
          </div>
        </div> 

  </ion-content>
</ion-view>
