    <ion-nav-bar class="bar-dark" >
      <ion-nav-back-button>
      </ion-nav-back-button>
       <ion-nav-buttons side="right">
          <a href="#/tab/account">
           <img src="img/logomenu.png" width="30%" >
          </a>
       </ion-nav-buttons>    
      
    </ion-nav-bar>

<ion-view view-title="Bem Vindo" >
  <ion-content >
    <Br><Br>
    <div class="row">
      <div class="col">



         <div  ng-repeat="noticia in noticias" id="{{ajeitaSmall(noticia.numero)}}">
          <a href="#/tab/dash/vernoticia"><img ng-src="http://{{noticia.img}}" width="100%"></a>
          <div class="icone3"> 
              <div class="row responsive-sm" >
                <div class="col" style="background-color: rgba(0,0,0,.80); width: 100%">{{noticia.titulo}}</div>
              </div> 
          </div>
        </div>
      
      </div>
    </div>



  

  </ion-content>
</ion-view>
