  <ion-nav-bar class="bar-dark" >
      <ion-nav-back-button>
      </ion-nav-back-button>
       <ion-nav-buttons side="right">
          <a href="#/tab/account">
           <img src="img/logomenu.png" width="30%" >
          </a>
       </ion-nav-buttons>    
      
    </ion-nav-bar>

<ion-view view-title="Bem Vindo" >
  <ion-content >

  
    <section class="module">
      <section class="wraper">    
        <figure  ng-repeat="noticia in noticias" class='{{ajeitaSmall(noticia.numero)}}'>
          <a href="#/tab/dash/vernoticia/{{noticia.titulo}}">
            <img ng-src="http://{{noticia.img}}" alt="" width='{{ajeitaWidth(noticia.numero)}}' height='{{ajeitaHeight(noticia.numero)}}'>
          </a>

          <figcaption>
             
              <strong class="text transition-060 title">{{noticia.titulo}}</strong>
              <span class="text transition-050 desc">{{noticia.categoria}}</span>
             
          </figcaption>
        </figure> 
      </section>
    </section>

  </ion-content>
</ion-view>
