
<ion-view view-title="">
  <ion-content>
    <div style='background-image: url("img/fundao.jpg"); margin-top:-50px; width:100%; height: 200px; text-align:center; background-size: 100% 200px;'>
    	<img src="img/logointerno.png" width="70%">
    </div>

{{chat}}
	<section class="module">
 
  <section class="wraper" style="padding: 10px;">    
    <figure class='small2'>
      <a href="#/tab/account/conheca">
        <img src="img/bt_conheca.jpg" alt="">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="">
           
        </a>
      </figcaption>
    </figure>
    <figure class='small2'>
      <a href="#/tab/dash">
        <img src="img/bt_noticias.jpg" alt="">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="">
         
        </a>
      </figcaption>
    </figure>
    <figure class='small2'>
      <a href="#/tab/account/estaduais">
        <img src="img/bt_estaduais.jpg" alt="">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="">
         
        </a>
      </figcaption>
    </figure>
     <figure class='small2'>
      <a href="#/tab/account/downloads">
        <img src="img/bt_download.jpg" alt="">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="">
         
        </a>
      </figcaption>
    </figure>
    <figure class='small2'>
      <a href="#/tab/account/secretarias">
        <img src="img/bt_secretarias.jpg" alt="">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="">
         
        </a>
      </figcaption>
    </figure>	

       <figure class='small3'>
      <a href="">
        <img src="img/bt_ctb.jpg" alt="">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="">
         
        </a>
      </figcaption>
    </figure>

       <figure class='small3'>
      <a href="">
        <img src="img/bt_ctb2.jpg" alt="">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="">
         
        </a>
      </figcaption>
    </figure>
       <figure class='small3'>
      <a href="#/tab/account/contato">
        <img src="img/bt_contato.jpg" alt="">
      </a>
      <figcaption class="transition-050 opacity85">
        <a href="">
         
        </a>
      </figcaption>
    </figure>
  </section>
</section>


  </ion-content>
</ion-view>
