

<ion-view view-title="" >
  <ion-content >
 
      <ion-slide-box >
        <ion-slide>
          
            <div class="item item-text-wrap">
              <i class="ion-arrow-right-b"></i>  BRASIL
            </div> 
             <script type="text/javascript">
      
      
      
      var wall = new Freewall("#freewall");
      wall.reset({
        selector: '.brick',
        animate: true,
        cellW: 150,
        cellH: 'auto',
        onResize: function() {
          wall.fitWidth();
        }
      });
       var images = wall.container.find('.brick');
      images.find('img').load(function() {
        wall.fitWidth();
      });

      var wall2 = new Freewall("#freewall2");
      wall2.reset({
        selector: '.brick',
        animate: true,
        cellW: 150,
        cellH: 'auto',
        onResize: function() {
          wall2.fitWidth();
        }
      });
       var images = wall2.container.find('.brick');
      images.find('img').load(function() {
        wall2.fitWidth();
      });
     
    </script>
            <div id="freewall" class="free-wall">

              <div class='brick' style='width:300px;'>
                <a href="#/tab/dash/vernoticia"><img src="http://portalctb.org.br/site/images/jact/big/images/stores/estaduais/images/leticia-spindler-artistas-contra-maioridade-penal.jpg" width="100%"></a>
                <div class='cover'> Cresce na sociedade a repulsa...  </div>
              </div>

              <div class='brick' style='width:150px;'>
                <a href="#/tab/dash/vernoticia"><img src="http://portalctb.org.br/site/images/jact/medium/images/stores/2015/ctb-marcha-brasilia.jpg" width="100%"></a>
                <div class='cover'> Luta sindical...  </div>
              </div>

              <div class='brick' style='width:150px;'>
                <a href="#/tab/dash/vernoticia"><img src="http://portalctb.org.br/site/images/jact/medium/images/stores/2015/ailma-ctb-go-1.jpg" width="100%"></a>
                <div class='cover'> CTB repudia...  </div>
              </div>

              <div class='brick' style='width:300px;'>
                <a href="#/tab/dash/vernoticia"><img src="http://portalctb.org.br/site/images/jact/medium/images/stores/2015/estaduais/protesto_ba_itabuna4.jpg" width="100%"></a>
                <div class='cover'>  Dia Nacional de Paralisação...  </div>
              </div>

               <div class='brick' style='width:150px;'>
                <a href="#/tab/dash/vernoticia"><img src="http://portalctb.org.br/site/images/jact/medium/images/stores/2015/repressao.jpg" width="100%"></a>
                <div class='cover'> Polícia do Alckmin...  </div>
              </div>

               <div class='brick' style='width:150px;'>
                <a href="#/tab/dash/vernoticia"><img src="http://portalctb.org.br/site/images/jact/medium/images/stores/2015/estaduais/caminhada.jpg" width="100%"></a>
                <div class='cover'> Contra o PL da... </div> 
              </div>

            </div>
              
           
        </ion-slide>
  <ion-slide>
   <div class="item item-text-wrap">
              <i class="ion-arrow-right-b"></i>  INTERNACIONAL
    </div> 
           
<div id="freewall2" class="free-wall">

              <div class='brick' style='width:300px;'>
                <a href="#/tab/dash/vernoticia"><img src="http://portalctb.org.br/site/images/jact/big/images/stores/estaduais/adilson-araujo-divanilton-pereira-oit.jpg" width="100%"></a>
                <div class='cover'> CTB participa de conferência da Federação...  </div>
              </div>

              <div class='brick' style='width:150px;'>
                <a href="#/tab/dash/vernoticia"><img src="http://portalctb.org.br/site/images/jact/medium/images/stores/estaduais/oitgeral1.jpg" width="100%"></a>
                <div class='cover'> CTB vai à Conferência...  </div>
              </div>

              <div class='brick' style='width:150px;'>
                <a href="#/tab/dash/vernoticia"><img src="http://portalctb.org.br/site/images/jact/medium/images/stores/estaduais/chile1.jpg" width="100%"></a>
                <div class='cover'> Cone Sul se solidariza ...  </div>
              </div>

              <div class='brick' style='width:300px;'>
                <a href="#/tab/dash/vernoticia"><img src="http://portalctb.org.br/site/images/jact/medium/images/stores/2015/estaduais/protesto_ba_itabuna4.jpg" width="100%"></a>
                <div class='cover'>  Dia Nacional de Paralisação...  </div>
              </div>

               <div class='brick' style='width:150px;'>
                <a href="#/tab/dash/vernoticia"><img src="http://portalctb.org.br/site/images/jact/medium/images/stores/2015/repressao.jpg" width="100%"></a>
                <div class='cover'> Polícia do Alckmin...  </div>
              </div>

               <div class='brick' style='width:150px;'>
                <a href="#/tab/dash/vernoticia"><img src="http://portalctb.org.br/site/images/jact/medium/images/stores/2015/estaduais/caminhada.jpg" width="100%"></a>
                <div class='cover'> Contra o PL da... </div> 
              </div>

            </div>
              

  </ion-slide>
  
</ion-slide-box>


  

  </ion-content>
</ion-view>
