 

<ion-view view-title="Notícia" >
  <ion-content>
  <br>

<div class="list card">


  <div class="item"> 
    <h2>{{chat.strNome}}</h2>
    <p>{{chat.categoria}}</p>
  </div>

  <div class="item item-body"> 
    <img ng-src="http://portalctb.org.br/site/{{chat.imagem}}" class="full-image">

 
    <p>
      {{chat.conteudo}}
    </p> 
  </div>
<div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Curtir
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comentar
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Compartilhar
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-social-whatsapp"></i>
      Whatsapp
    </a>

  </div>
  

</div>



   
   

  </ion-content>
</ion-view>
